<template>
  <div id="app">
    <div>
      <label>Name</label>
      <input type='text' v-model="name"/>
      <button  @click='submitName() '>Enter</button>

    </div>
    <div>
      <ul>
        <li v-for="(personName, id) of names" v-bind:key="id" >
          <div v-if="personName.edit===false">
            <p>{{personName.name}}</p>
            <button @click="removeName(id)">Remove</button>
            <button @click="setEditName(id)">Edit</button>
          </div>
          <div v-else>
            <input v-model="personName.name"/>
            <button @click="saveEdit(id, personName)">Save</button>
            <button @click="cancelEdit(id)">Cancel</button>
          </div>
        </li>
      </ul>
    </div>
    <div>
    </div>
  </div>
</template>

<script>
import {db, namesRef} from './firebase';
export default {
  name: 'toto',
  data () {
    return {
      name: "",
    }
  },

  firebase: {
    names: namesRef
  },
  methods: {
    submitName(){
      namesRef.push({name: this.name, edit: false});
      this.name= '';
      console.log(this.names,'nnn')
      console.log(namesRef.child(key),'bbbb')
    },
    removeName(key){
      namesRef.child(key).remove();
    },
    setEditName(key){
      namesRef.child(key).update({ edit : true });
    },
    saveEdit(key, person){
      namesRef.child(key).set({name: person.name, edit: false})
    },
    cancelEdit(key){
      namesRef.child(key).update({ edit : false})
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

button {
  background-color: transparent;
  border: 2px solid black;
}
</style>
